{% extends "base.html" %}
{% block content %}

<!-- jQuery (obrigatório para o plugin funcionar) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<script>
  $(document).ready(function(){
    $('#id_telefone').mask('(00)00000-0000');
  });
</script>

<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="w-100" style="max-width: 600px;">
  <h3>Abertura de Chamados</h3>
      <div class="card">
        <div class="card-body">
          <form method="POST" class="form-control" action="">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Abrir Chamado</button>
              <a href="{% url 'chamados_list' %}" class="btn btn-danger">Cancelar</a>
          </form>
        </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}